doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='')
        meta(name='author' content='Mark Otto, Jacob Thornton, and Bootstrap contributors')
        meta(name='generator' content='Jekyll v3.8.5')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

        style
            include css/FormLook.css

        style.
            table tr th td{border :black solid 1px;}



    body
        include navbar.pug
        .row
            .col-75
                .container

                        .row
                            .col-50
                                h1 Minor Injury Report
                                form(action='insertNewRow' method='post')

                                    input(type='submit' value=`insert`)
                                table(style='width:100%' border='1')
                                    tr
                                        th Date
                                        th Time
                                        th Name
                                        th Location
                                        th Treatment
                                        th How occurred
                                        th Facility
                                        th Staff Member
                                    each row in Form
                                        tr

                                            td= row.Date
                                            td= row.Time
                                            td= row.Name
                                            td= row.Location
                                            td= row.Treatment
                                            td= row.how
                                            td= row.facility
                                            td= row.staffName


        include footer.pug