doctype html
html
    head
        meta(charset='UTF-8')
        title Simple templates
        link(rel='stylesheet', href='css/styles2.css')
        script.



    body


        h3 Title: #{title}
        form(action='insertNewRow' method='post')
            input(type='submit' value=`insert`)
        table(style='with:100%' border='1')
            tr
                th ID
                th FName
                th Date
                th Time
                th State
                th User Id
                th First Name
                th Last Name

            each row in Form
                tr
                    td= row.FormId
                    td= row.FormName
                    td= row.Date
                    td= row.Time
                    td= row.State
                    td= row.UserId
                    td= row.FirstName
                    td= row.LastName
                    td
                        form(action='ConfirmDelete' method='post')
                            input(type='hidden' name=`id` value=`${row.FormId}`)
                            input(type='submit' value=`Delete Id: ${row.FormId}`)